*{
	box-sizing: border-box;
}
@font-face{
	font-family: PF Mellon;
	src: url(PFMellon.otf) format(OpenType);
}
body{
	background-color: #161616;
}
h1{
	font-family: PF Mellon;
	font-size: 270pt;
	letter-spacing: 10px;
	text-align: center;
	margin-top: 70px;
	color: white;
}
h2{
	font-family: PF Mellon;
	font-size: 58pt;
	text-align: center;
	margin-top: -320px;
	color: white;
	letter-spacing: .3px;
}
p{
	font-family: PF Mellon;
	color: white;
	font-size: 25pt;
	letter-spacing: .5px;
	text-align: center;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}
footer{
	font-family: PF Mellon;
	font-size: 15pt;
	color: white;
	letter-spacing: .5px;
}
a:link{
	color: white;
}
a:active {
	color: white;
}
a:visited{
	color: #d3d3d3;
}
a:hover{
	color: #6b6b6b;
}
@media screen and (min-width:800px) {
img{
	margin-top: 165px;
	margin-left: 100px;
	margin-bottom: 100px;
}
p{
	font-size: 3vw;
	text-align: left;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
 }
.image {
    flex-basis: 350%;

}
.text {
    margin-top: 165px;
    margin-right: 100px;
    margin-bottom: 100px;
}
}
